<div class="dashboard-page">
  <aside class="sidebar">
    <h2>Camaar</h2>

    <nav>
      <ul>
        <li>Início</li>
        <li><%= link_to "Gerenciamento", templates_path %></li>
      </ul>
    </nav>
  </aside>

  <main class="dashboard-content">
    <h1>Perfil de Administrador</h1>
    <p>Bem-vindo ao painel do administrador.</p>
  </main>
</div>