
<% content_for :stylesheet, stylesheet_link_tag("admin", "data-turbo-track": "reload") %>

<section class="conteudo-admin" id="avaliações">
  <h1>Avaliações</h1>
  <p>Bem-vindo ao painel do administrador.</p>
  <h2>Conteúdo</h2>
  Seus testes de criação de downloads entrarão aqui
</section>
